<div class="card">
    <div class="card-body">
        <form method="POST">
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                    <label for="post-title">What is the title of your post?</label>
                    <input type="text" class="form-control" id="post-title">
                </div>
            </div>                
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                    <label for="post-text">Please write your post below</label>
                    <textarea type="text" class="form-control" id="post-text"></textarea>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <button type="submit" class="btn btn-primary" id="post">Post</button>
            </div>
        </form>
    </div>
</div>

<script src="js/post.js"></script>