html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px 20%;
}
.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
}
.form-group {
    margin: 10%;
}